<?xml version="1.0" encoding="utf-8" ?>
<plug-in>
	<title>Signals</title>
	<author>川口耕介</author>
	<homepage>http://www.kohsuke.org/freetrain/</homepage>
	
	<!-- Defining the contribution in order to add the picture of the signal from outside -->
	<contribution type="contribution" id="{59465CA9-C45E-4D11-8D57-95088E16E0F1}">
		<name>railSignal</name>
		<class name="freetrain.world.rail.signal.RailSignalContributionFactory"
			codebase="bin/Debug/FreeTrain.RailSignal.dll" />
	</contribution>
	
	<!-- Adding “the signal” to the railroad menu -->
	<contribution type="menu" id="{DFB5CC3B-B0B0-4421-80DC-4E9D1E39A1E8}">
		<class name="freetrain.world.rail.signal.MenuContributionImpl"
			codebase="bin/Debug/FreeTrain.RailSignal.dll" />
	</contribution>
	
	<!-- Traffic light of default  -->
	<contribution type="railSignal" id="{5349DE2A-DF3E-49B4-87A0-973105B7E6A4}">
		<name>Three light systems</name>
		<side>left</side>
		<picture src="RailSignal.bmp"/>
	</contribution>
	
	<!-- 入れ替え信号機 -->
	<contribution type="railSignal" id="{6FA55842-E693-414f-A120-0A3D0C613B21}">
		<name>Entrance substitution signal</name>
		<side>right</side>
		<picture src="RailSignal2.bmp"/>
	</contribution>
</plug-in>
